* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;  /* Safari ve Chrome */
  -moz-user-drag: none;     /* Firefox */
  -ms-user-drag: none;      /* Internet Explorer */
  -webkit-user-drag: none;   /* Genel destek */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version */
}

@font-face {
  font-family: 'Nexa-Bold';
  src: url('fonts/Nexa-Bold.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: 'Nexa-Bold', sans-serif;
  background: radial-gradient(circle, #100c7d , #080726 ); display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url('img/hugip3.png'), auto;
}

body, html {
  overflow: hidden; 
  height: 100%;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Mouse etkileşimini sağlamak için */
}


.container {
  width: 1440px;
  height: 1024px;
  display: flex;
  position: relative;
  z-index: -1;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.box {
  width: 800.99px;
  height: 450.41px;
  z-index: 1; /* Öne çıkması için */
  position: relative;
  background: linear-gradient(180deg, #b8476a, #850c38 ); /* Linear Gradient */
  border-radius: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  overflow: hidden; /* Kutunun dışına taşmayı engeller */
  margin-bottom: 20px; /* Buton kapsayıcı için boşluk bırak */
}

/* Profil Resmi */
.profile-img {
  width: 225px;  
  height: 225px;
  border-radius: 15%;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: auto;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5)); /* Şekle göre gölge */
}

.title {
  color: white;
  font-size: 30px;
  font-family: 'Nexa-Bold', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 255px;
  left: auto;
  text-align: center;        /* Yatayda ortalar */
}

.title2 {
  color: white;
  font-size: 30px;
  font-family: 'Nexa-Bold', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 302px;
  left: auto;
  text-align: center;        /* Yatayda ortalar */
}

.icons {
  width: 85.02px;
  height: 38.92px;
  position: absolute;
  bottom: 50px;
  left: auto;
  display: flex;
  justify-content: center;  
  align-items: center;     
  gap: 20px; 
}

.icon {
  width: 45px;  
  height: 45px;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* Simge 2 */
.icon-small {
  width: 38px; 
  height: 38px; 
  object-fit: contain;  
  transition: all 0.3s ease;
}

/* Simge 3 */
.youtube {
  width: 50px; 
  height: 50px; 
  object-fit: contain;  
  transition: all 0.3s ease;
}

/* Simge 4 */
.twitter {
  width: 30px; 
  height: 30px; 
  object-fit: contain;  
  transition: all 0.3s ease;
}

/* Simge 5 */
.linkedin {
  width: 32px; 
  height: 32px; 
  object-fit: contain;  
  transition: all 0.3s ease;
}

.icons .icon:hover {
  width: 62px;  
  height: 62px; 
  cursor: pointer;
}

.icons .icon-small:hover {
  width: 60px;  
  height: 60px; 
  cursor: pointer;
}

.icons .youtube:hover {
  width: 70px;  
  height: 70px; 
  cursor: pointer;
}

.icons .twitter:hover {
  width: 43px;  
  height: 43px; 
  cursor: pointer;
}

.icons .linkedin:hover {
  width: 50px;  
  height: 50px; 
  cursor: pointer;
}

.copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 69px;
  opacity: 0.4; /* Sadece arka plan resminin opaklığını ayarlar */
  z-index: -1; /* Diğer içeriklerin arkasına alır */
}

.background-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 69px;
  opacity: 0.2; /* Sadece arka plan resminin opaklığını ayarlar */
  z-index: -1; /* Diğer içeriklerin arkasına alır */
}

/* Butonların Kapsayıcısı */
.button-container {
  margin-top: 500px; /* Kutudan boşluk */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: 10px; /* Kutunun hemen altında kalması için */
}

/* Wrapper Kapsayıcı */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Kutular arasında boşluk */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Dikey ortalama */
  position: absolute; /* Kutunun merkezine yerleşmesi için */
  top: 28%; /* Sayfanın %50 yüksekliğine yerleştirir */
  left: 50%; /* Sayfanın %50 genişliğine yerleştirir */
  transform: translate(-50%, -50%); /* Tam ortalama */
  gap: 35px; /* Butonlar arasında boşluk bırakır */
}

/* Butonlar */
.button {
  display: inline-block;
  background-color: #850c38;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 69px;
  transition: background-color 0.3s ease;
  text-align: center;
  transition: all 0.3s ease; /* Geçiş animasyonu */
}

.button:hover {
  background-color: #ca1256;
  transform: scale(1.1); /* %20 büyüt */
}




/* Mobil için media query */
@media (max-width: 767px) {
  .box {
    width: 90%; /* Kutunun genişliği %90'a küçültülür */
    height: 350px; /* Yükseklik mobilde küçültülür */
    margin: 0 auto;
    padding: 20px; /* Padding küçültülür */
    border-radius: 40px; /* Kenar yuvarlama azaltılır */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); /* Gölge daha hafif yapılır */
  }
  
  .background-img {
    border-radius: 20px; /* Görselin kenarları kutuya uyacak şekilde yuvarlatılır */
  }

  .profile-img {
    width: 150px;  /* Profil resmi küçültülür */
    height: 150px;
    top: 40px;  /* Profil resminin pozisyonu güncellenir */
  }

  .title {
    font-size: 20px;  /* Başlık font boyutu küçültülür */
    top: 205px;  /* Başlık pozisyonu güncellenir */
  }

  .title2 {
    font-size: 20px;  /* Başlık font boyutu küçültülür */
    top: 233px;  /* Başlık pozisyonu güncellenir */
  }

  .icons {
    width: 70px;  /* İkonlar daha küçük yapılır */
    height: 35px;
    bottom: 45px;  /* İkon konumu aşağıya kaydırılır */
  }

  .icon {
    width: 40px;  /* Simge boyutları küçültülür */
    height: 40px;
  }

  .icon-small {
    width: 40px;  /* Küçük ikon boyutları küçültülür */
    height: 40px;
  }

  .youtube {
    width: 47x;  /* Küçük ikon boyutları küçültülür */
    height: 47px;
  }

  .twitter {
    width: 47x;  /* Küçük ikon boyutları küçültülür */
    height: 47px;
  }

  .linkedin {
    width: 47x;  /* Küçük ikon boyutları küçültülür */
    height: 47px;
  }

  .copyright {
    font-size: 8px; /* Copyright yazı boyutu küçültülür */
    padding: 3px 8px; /* Padding küçültülür */
  }

  .button-container {
    display: flex;
    flex-direction: column; /* Butonları dikey yerleştiriyoruz */
    gap: 27px;              /* Butonlar arasına boşluk ekliyoruz */
    width: 100%;            /* Buton kapsayıcısı tam genişlikte */
    align-items: center;    /* Yatayda ortalıyoruz */
    justify-content: center; /* Dikeyde ortalıyoruz */
    padding: 0 10px;        /* Butonlar arasına biraz padding ekliyoruz */
  }

  .button {
    width: 80%;           /* Butonları %100 genişlikte yapıyoruz */
    padding: 20px 0;       /* İç boşlukları artırıyoruz */
    font-size: 20px;       /* Font boyutunu artırıyoruz */
  }

}
